th,
td {
    white-space: nowrap;
}

/* Fondo real columnas congeladas */
.dtfc-fixed-left,
.dtfc-fixed-start {
    background-color: white !important;
}

    .dtfc-fixed-left table,
    .dtfc-fixed-start table {
        background-color: white !important;
    }

    /* Header */
    .dtfc-fixed-left thead th,
    .dtfc-fixed-start thead th {
        background: #f8f9fa !important;
        z-index: 3 !important;
    }

    /* Body */
    .dtfc-fixed-left tbody td,
    .dtfc-fixed-start tbody td {
        background: white !important;
    }

    /* Footer */
    .dtfc-fixed-left tfoot th,
    .dtfc-fixed-start tfoot th {
        background: #f8f9fa !important;
    }

/* Sombra separación */
.dtfc-fixed-left,
.dtfc-fixed-start {
    box-shadow: 2px 0 5px rgba(0,0,0,.10);
}

